.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 1.5rem;
  margin: 10px 0px;
  /* Adjust as needed */
}

.create-app-button {
  /* Replace with actual color */
  border-radius: 50px;
  padding: 10px 15px;
  color: white;
  border: none;

  /* Remove default button border */
  cursor: pointer;
  /* Change cursor on hover */
}

.description {
  font-weight: 300;
  font-size: 16px;
}

.icon {
  margin-right: 8px;
  /* Space between icon and text */
}

.dashboard-container {
  margin-left: 65px;
  zoom: 90%;
  padding-bottom: 4rem;
}

.apps {
  padding: 20px;
  overflow-x: hidden;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #ffffff;
  width: 450px;
  border-radius: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  width: 150px;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--primary-color);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--primary-color);
  color: #ffffff
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;

}



.card {
  width: 300px;
  height: 160px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffff;
  margin-top: 16px;
  margin-left: 10px;
  background-color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  display: flex;
  align-items: center;
  margin: 0px;
  justify-content: space-between;
}

.avatar img {
  width: 24px;
  /* Adjust size as needed */
  height: 24px;
  /* Adjust size as needed */
}

.settings {
  color: grey;
}

.settings-icon {
  width: 20px;
  /* Adjust size as needed */
  height: 20px;
  /* Adjust size as needed */
}


.description {
  margin: 4px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
  /* Limit to 2 lines */
}

.card-actions {
  padding: 16px;
}

.test-app-button {
  font-size: 14px;
}

.revenue-card {
  width: 260px;
  height: 120px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffff;
  margin-top: 16px;
  margin-left: 10px;
  background-color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.revenue-arrow-up {
  color: var(--green-color)
}

.revenue-arrow-down {
  color: var(--red-color)
}


.status-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.status-box {
  min-width: 90px;
  padding: 0px 4px;
  /* Adjusted for consistency */
  border-radius: 20px;
  background-color: #B3DFC9;
  /* Change to #FFEBEE for down status */
}

.status-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
}

.status-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  background-color: white;
  border: 1px solid;
  /* Add border color dynamically */
  border-radius: 50%;
}

.status-percentage {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
  color: green;
  /* Change to red for down status */
}


/* --------------- FEEDBACK  ------------- */
.modal {
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1500;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: white;
  align-self: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  border-radius: 20px;
  border-color: #ffc87f;
  border: 1px
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-weight: 400;
  margin: 5px 0px;
}

.modal-description {
  margin: 0px;
  font-size: 18px;
  margin-top: 15px;
}

.modal-radio-buttons {
  font-size: 55px !important;
  color: #00000099;
  margin: 10px 12px;
  cursor: pointer;
}

.modal-close-button {
  background: none;
  border: none;
  color: #00000099;
  font-size: 23px;
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.rating {
  display: flex;
  padding: 20px 0;
}

.modal-icon {
  font-size: 60px;
  padding-right: 5px;
}

.submit-button {
  background-color: var(--primary-color);
  /* Replace with your primary color */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 30px;
  align-self: center;
  width: 50%;
}


.floating-button {
  position: fixed;
  right: -40px;
  /* Adjust as needed */
  top: 50%;
  /* Center vertically */
  transform: rotate(-90deg);
  /* Combined rotation and translation */
  /* Center the button */
  z-index: 1000;
  /* Ensure it appears above other elements */
}

.feedback-button {
  background-color: #F8921D;
  /* Replace with your primary color */
  color: white;
  /* Text color */
  border: none;
  padding: 10px 20px;
  /* Adjust padding */
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  font-size: 16px;
  /* Font size */
}

/* PORTAL 1 */
.portal1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CSS */
.company-name-container {
  margin-top: 24px;
  /* Adjust as needed */
}

.company-name-label {
  font-weight: 400;
  display: block;
  margin-bottom: 2px;
  margin-top: 5px;
  /* Adjust as needed */
}

.required {
  margin-left: 4px;
  color: red;
}

.company-name-input {
  margin: 8px 0;
  /* Adjust as needed */
  padding: 8px;
  /* Adjust as needed */
  width: 100%;
  /* Adjust as needed */
  box-sizing: border-box;
  /* Ensures padding is included in width */
}

.linear-progress {
  width: 100%;
  margin-top: 5px;
  /* Adjust as needed */
  height: 16px;
  border-radius: 6px;
  background-color: #D1D2D5;
  overflow: hidden;
  /* Ensures the inner bar doesn't overflow */
}

.progress-bar {
  height: 100%;
  background-color: #0DCBFD;
  /* Use CSS variable or adjust as needed */
  transition: width 0.3s ease;
  /* Smooth transition for the progress */
}

.portal-footer {
  margin-bottom: 10px;
  display: flex;
}

.portal-submit-button {
  background-color: #3E3091;
  color: white;
  /* Replace with actual color */
  border-radius: 50px;
  padding: 10px 10px;
  width: 300px;
  padding: 10px 20px;
  cursor: pointer;
  align-self: center;


  /* Replace with actual width */
}

.competitor-container {
  margin-top: 16px;
}

.competitor-header {
  font-weight: 700;
  margin-top: 16px;
}

.competitor-title {
  font-size: 14px;
}

.competitor-list {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  gap: 8px;
  align-items: center;
}

.chip {
  padding: 0.4rem 0.4rem;
  background-color: #0DCBFD;
  /* Use CSS variable or define a specific color */
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.competitor-chip {
  padding: 12px 8px;
  background-color: #e0e0e0;
  /* Replace with colors.chipColor */
  display: flex;
  align-items: center;
}

.delete-chip {
  margin-left: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

.no-competitors {
  padding-left: 20px;
  font-size: 12px;
}

.add-competitor {
  display: flex;
  margin-top: 16px;
}

.competitor-input {
  flex-grow: 1;
  margin-right: 8px;
}

.back-button {
  /* Replace with desired color */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  box-sizing: border-box;
  border: 1px solid var(--blue-button);
  border-radius: 8px;
  padding: 10px;
  width: 40px;
  height: 40px;
  color: var(--blue-button);
  cursor: pointer;
}

.add-button {
  background-color: var(--blue-button);
  /* Replace with desired color */
  width: 40px;
  height: 40px;
  color: white;
  /* Replace with colors.white */
  border-radius: 5px;
  padding: 8px 8px;
  margin: 8px 2px;
  cursor: pointer;
  font-size: large;
}

/* PORTAL3 */
.image-container {
  width: 120px;
  height: 120px;
  border: 2px solid rgb(154, 154, 154);
  border-radius: 40px;
}