<!DOCTYPE html>
<html lang="en">

<body>
  <div class="p20">
    <div class="header-container">
      <h4 class="header-title">Hello, ...</h4>
	  <!--
      <button class="create-app-button background-primary">
        <span class="icon">+</span> Add a Widget
      </button>
	  -->
    </div>
    <p class="description">
      Welcome to the Align HCM Portal dashboard
    </p>
    <div class="align-center wrap">
      {% for revenue_data in site.data.dashboard %}
      <div class="revenue-card">
        <div class="card-header">
          <div class="align-center">
            <span class="material-icons-outlined" style="color:gray;margin-right: 10px;">
              dashboard
            </span>
            <h4 style="margin: 5px; font-weight: normal;">{{revenue_data.title}}</h4>
          </div>
          <span class="material-icons-outlined" style="color:gray">
            settings
          </span>
        </div>
        <div class="card-header">
          <h2>{{revenue_data.value}}</h2>
          <div class="status-container">
            <div class="status-box">
              <div class="status-content">
                <div class="status-icon">
                  <span class="material-icons-outlined revenue-arrow-up">
                    arrow_upward
                  </span>
                </div>
                <span class=" status-percentage">{{revenue_data.by}}</span> <!-- Replace with dynamic value -->
              </div>
            </div>
            <p class="m0 pt5">last {{revenue_data.last-update}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</body>

</html>