  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link
    rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/monokai-sublime.min.css"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css"
    integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css"
    integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+"
    crossorigin="anonymous"
  />

  <link
    rel="stylesheet"
    href="https://cdn.auth0.com/js/auth0-samples-theme/1.0/css/auth0-theme.min.css"
  />
<header id="header" class="app-bar">
<div class="toolbar">
  <img id="logo" src="/assets/images/logo/align-hcm-logo.png" width="60" height="25" alt="logo" class="logo">
  <button id="menu-icon" class="icon-button" aria-label="open drawer">
    <span class="menu-icon" onclick="openNav()">☰</span>
  </button>
  <div class="app-bar-container ">
    <!-- <input type="text" class="search-field" placeholder="Search"> -->
  </div>
  <div class="notification-area">
    <a href="#" class="notification">
      <span class="account-icon">👤</span>
      <span class="badge">3</span>
    </a>
    <button class="icon-button" aria-label="account of current user">
      <span class="account-icon">👤</span>
    </button>
    <div class="user-info">
      <span id="name" class="user-name">N.P</span>
      <span id="email" class="user-role">Manager</span>
    </div>
  </div>
</div>
</header>

