<!DOCTYPE html>
<html lang="en">

<body>
  <div class="apps">
    <div class="header-container">
      <h4 class="header-title">Apps</h4>
      <button class="create-app-button background-primary">
        <span class="icon">+</span> Create App
      </button>
    </div>
    <p class="description">
      Create, Test and Publish
    </p>
    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'dev')">In Development</button>
      <button class="tablinks" onclick="openCity(event, 'test')">Ready for testing</button>
      <button class="tablinks" onclick="openCity(event, 'prod')">Deployed</button>
    </div>
    <!-- Tab content -->
    <div id="dev" class="tabcontent">

      <div style="display: flex; flex-wrap: wrap; padding-bottom: 60px; ">
        {% for page in site.pages %}
        {% if page.path contains 'apps/' %}
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card">
            <div class="card-header">
              <div class="align-center">
                <span class="material-icons-outlined" style="margin-right: 10px;">
                  dashboard
                </span>
                <h3 style="margin: 5px;">{{ page.title }}</h3>
              </div>
              <span class="material-icons-outlined">
                settings
              </span>
            </div>
            <p class="description"> {{ page.excerpt }}</p>
            <div class="test-app-button">
              <a href="./applications.html">Test App</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div id="test" class="tabcontent">
      <div style="display: flex; flex-wrap: wrap; padding-bottom: 60px; ">
        {% for page in site.pages %}
        {% if page.path contains 'apps/' %}
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card">
            <div class="card-header">
              <div class="align-center">
                <span class="material-icons-outlined" style="margin-right: 10px;">
                  dashboard
                </span>
                <h3 style="margin: 5px;">{{ page.title }}</h3>
              </div>
              <span class="material-icons-outlined">
                settings
              </span>
            </div>
            <p class="description"> {{ page.excerpt }}</p>
            <div class="test-app-button">
              <a href="./applications.html">Test App</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div id="prod" class="tabcontent">
        <h3>Tokyo</h3>
        <p>Tokyo is the capital of Japan.</p>
      </div>
    </div>
  </div>

</body>

</html>