<!DOCTYPE html>
<html lang="en">

<body>
  <div
    style="z-index: 1202; padding: 0 14px; height: 70px; background-color: #2C3C4C; position: fixed; bottom: 0; width: 100%;">
    <div style="display: flex; flex-direction: row-reverse; margin-top: -20px; margin-right: 20px;">
      <button class="background-primary"
        style="color: #fff;  border: none; border-radius: 50px; width: 40px; height: 40px; ;">
        <span style="font-size: 24px;">+</span> <!-- AddIcon -->
      </button>
      <button class="background-primary"
        style="height: 40px; text-transform: inherit; color: #fff; margin-right: 20px;border: none; border-radius: 50px; padding: 5px 20px; display: flex; align-items: center; ">
        <span class="material-icons-outlined">
          location_on
        </span>
        Digital Innovation Center
      </button>
    </div>
    <div style="display: flex; height: 20px; justify-content: center; align-items: center;">
      <p style="text-align: center; color: white;">© 2024 Align HCM, All Rights Reserved</p>
    </div>
  </div>
</body>

</html>