<!DOCTYPE html>
<html lang="en">

<body>
  <nav id="header" class="app-bar">
    <div class="toolbar">
      <img id="logo" src="/assets/images/logo/align-hcm-logo.png" width="60" height="25" alt="logo" class="logo">
      <button id="menu-icon" class="icon-button" aria-label="open drawer">
        <span class="menu-icon" onclick="openNav()">☰</span>
      </button>
      <div class="app-bar-container ">
        <!-- <input type="text" class="search-field" placeholder="Search"> -->
      </div>
      <div class="notification-area">
        <a href="#" class="notification">
          <span class="account-icon">👤</span>
          <span class="badge">3</span>
        </a>
        <div class="row dropbtn" onclick="toggleMenu()">
          <button class="icon-button " aria-label="account of current user">
            <img id="profile-pic" alt="Avatar" class="avatar">
          </button>
          <div class="user-info">
            <span id="name" class="user-name">Username</span>
          </div>
        </div>

      </div>

    </div>
  </nav>
  <div id="myDropdown" class="dropdown-content">
    <a href="#" onclick="logout()">Logout</a>
  </div>
  <script>

    function toggleMenu() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    // // Close the dropdown menu if the user clicks outside of it
    // window.onclick = function (event) {
    //   if (!event.target.matches('.dropbtn')) {
    //     var dropdowns = document.getElementsByClassName("dropdown-content");
    //     var i;
    //     for (i = 0; i < dropdowns.length; i++) {
    //       var openDropdown = dropdowns[i];
    //       if (openDropdown.classList.contains('show')) {
    //         openDropdown.classList.remove('show');
    //       }
    //     }
    //   }
    // }
  </script>
</body>

</html>