<!DOCTYPE html>
<html lang="en">

<body onload="getData()">
  <header id="header" class="app-bar">
    <div class="toolbar">
      <img id="logo" src="/assets/images/logo/align-hcm-logo.png" width="60" height="25" alt="logo" class="logo">
      <button id="menu-icon" class="icon-button" aria-label="open drawer">
        <span class="menu-icon" onclick="openNav()">☰</span>
      </button>
      <div class="app-bar-container ">
        <!-- <input type="text" class="search-field" placeholder="Search"> -->
      </div>
      <div class="notification-area">
        <a href="#" class="notification">
          <span class="account-icon">👤</span>
          <span class="badge">3</span>
        </a>
        <button class="icon-button" aria-label="account of current user">
          <span class="account-icon">👤</span>
        </button>
        <div class="user-info">
          <span id="name" class="user-name">N.P</span>
          <span id="email" class="user-role">Manager</span>
        </div>
      </div>
    </div>
  </header>
  <script>
    function getData() {
      console.log('LOADING DATA');
      const storedUser = JSON.parse(sessionStorage.getItem('user'));
      console.log('LOADING DATA now:  ' + storedUser);
      document.getElementById('name').innerText = `${storedUser.name}`;
      document.getElementById('email').innerText = `${storedUser.email}`;

    }

  </script>
</body>

</html>