<!DOCTYPE html>
<html lang="en">

<body>
  <div id="container" class="dashboard-container">
    {% if page.tab == "dashboard" %}
    <div id="dashboard-view" class="main-container hidden">
      {% include drawer-container/dashboard.html %}
    </div>
    {% endif %}
    <div id="apps-view" class="main-container">
      {% if page.tab == "applications" %}
      {% include drawer-container/apps.html %}
      {% else %}
      {{content}}
      {% endif %}
    </div>
    <div id="main" class="main-container hidden">
    </div>
  </div>

</body>

</html>