<!DOCTYPE html>
<html lang="en">

<body>

  <div id="mySidenav" class="sidenav">
    <img id="logo" src="/assets/images/logo/align-hcm-logo.png" width="60" height="25" alt="logo" class="logo">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div id="nav-list-admin" class="hidden">
      <a id="dashboard" href="/dashboard.html" class="{% if page.tab == 'dashboard' %}active{% endif %}"><span
          class="material-icons-outlined text-primary" style="margin-right: 20px;">
          dashboard
        </span>Dashboard</a>

      <a id="apps" href="/applications.html" class="{% if page.tab == 'applications' %}active{% endif %}"><span
          class="material-icons-outlined text-primary" style="margin-right: 20px;">
          dashboard
        </span>Apps</a>
	  <a id="metrics" href="/apps/control-panel/app.html" class="{% if page.tab == 'dashboard' %}active{% endif %}"><span
          class="material-icons-outlined text-primary" style="margin-right: 20px;">
          dashboard
        </span>Metrics</a>
      <a id="customization" href="#" onclick="subNav()"><span class="material-icons-outlined text-primary"
          style="margin-right: 20px;">
          dashboard
        </span>Customization<span class="material-icons-outlined" style="margin-left: 10px;">
          arrow_drop_down
        </span></a>
      <div id="sub-item" class="dropdown-container" style="display: none;">
        <a href=#"><span class="material-icons-outlined text-primary" style="margin-right: 20px;">
            dashboard
          </span>Portal Branding</a>
        <a href="#"><span class="material-icons-outlined text-primary" style="margin-right: 20px;">
            dashboard
          </span>Sales Page</a>
      </div>
    </div>
    <div id="nav-list">
      <a id="apps" href="/applications.html" class="{% if page.tab == 'applications' %}active{% endif %}"><span
          class="material-icons-outlined text-primary" style="margin-right: 20px;">
          dashboard
        </span>Apps</a>
    </div>
  </div>
  <script>
    function subNav() {
      console.log('CLicked');
      var dropdown = document.getElementById("sub-item");
      if (dropdown.style.display === "block") {
        dropdown.style.display = "none";
      } else {
        dropdown.style.display = "block";
      }


    }

  </script>
</body>

</html>