<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/leftStyle.css">
  <link rel="stylesheet" href="/css/topStyle.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>

<body>
  <div id="home" class="full-height">
    {% include header.html %}
    {% include side-drawer.html %}
    {% include homepage.html %}
    {% include footer.html %}
    {% include feedback.html %}
  </div>
  <script src="https://cdn.auth0.com/js/auth0-spa-js/1.19/auth0-spa-js.production.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/okta.js"></script>
  <script src="/js/home.js"></script>
  <script src="/js/apis.js"></script>
</body>

</html>